body {
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #d3d3d3, #001f3f);
  background-repeat: no-repeat; /* Just in case */
  background-attachment: fixed;
}

.container {
  text-align: center;
}

.header {
  padding: 20px 0;
}

.header-image {
  background-image: url('../images/icenter.png'); /* Replace with your image */
  background-repeat: no-repeat;
  background-position: center;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;

}

.header-image h1 {
  margin: 0;
  line-height: 0.9;
    font-size: 3.5em;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  background: #00000055;
}

.content-box {
  background-color: white;
  margin: 30px auto;
  width: 90%;
  max-width: 900px;
  padding: 40px;
  box-shadow: 5px 5px 0px black;
  min-height: 400px;
}

table.devo-table {
  border: 4px solid #555555;
  background-color: #555555;
  width: 100%;
  text-align: center;
  border-collapse: collapse;
}
table.devo-table td, table.devo-table th {
  border: 1px solid #555555;
  padding: 5px 10px;
}
table.devo-table tbody td {
  font-size: 12px;
  font-weight: bold;
  color: #FFFFFF;
}
table.devo-table td:nth-child(even) {
  background: #398AA4;
}
table.devo-table thead {
  background: #398AA4;
  border-bottom: 10px solid #398AA4;
}
table.devo-table thead th {
  font-size: 15px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: left;
  border-left: 2px solid #398AA4;
}
table.devo-table thead th:first-child {
  border-left: none;
}

table.devo-table tfoot td {
  font-size: 13px;
}
table.devo-table tfoot .links {
  text-align: right;
}
table.devo-table tfoot .links a{
  display: inline-block;
  background: #FFFFFF;
  color: #398AA4;
  padding: 2px 8px;
  border-radius: 5px;
}
#devotional-form{
  padding: 30px;
}