#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #5bc3eb;
    text-decoration: none;
    transition: 275ms;
}
#hero-msg h1, #hero-msg h2{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #cebebe;
}
body{
    background-color: #fcfcfc;
}
header{
    background-color: #535353;
}
nav a:hover{
    background-color: #5bc3eb;
    color: white;
}
.book, .join{
    background-color: #fcfcfc;
    color: #ec4550;
    padding: 1px;
    text-decoration: none;
    transition: 275ms;
}
.book:hover, .join:hover{
    background-color: #5b73eb;
    color: #fcfcfc;
}
.msg{
    background-color: #ec4550;
}
.msg h2{
    color: #fcfcfc;
}
.msg p{
    color: #fcfcfc;
}
footer{
    background-color: #cebebe;
}
footer a{
    color: #5b73eb;
    text-decoration: none;
}
footer a:hover{
    color: #ec4550;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}       
.home-title{
    color: #ec4550;
}
h2{
    color: #ec4550;
}
.icon {
    width: 80px;
}