#content{
    max-width: 1600px;
    margin: 0 auto;
}
#logo_link{
    padding-top: 5px;
}
nav a{
    text-align: center;
    color: #5bc3eb;
    text-decoration: none;
    transition: 275ms;
    padding: 35px;
}
#hero-msg h1, #hero-msg h2{
    text-align: center;
}
.button-box{
    text-align: center;
    margin-top: 30px;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #cebebe;
}
body{
    background-color: #fcfcfc;
    font-family: Raleway, Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: #535353;
}
nav a:hover{
    background-color: #5bc3eb;
    color: white;
}
.book, .join{
    background-color: #fcfcfc;
    color: #ec4550;
    text-decoration: none;
    transition: 275ms;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover{
    background-color: #5b73eb;
    color: #fcfcfc;
}
.msg{
    background-color: #ec4550;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2{
    color: #fcfcfc;
}
.msg p{
    color: #fcfcfc;
    padding-bottom: 15px;
}
footer{
    background-color: #cebebe;
    padding: 25px 50px;
    margin-top: 200px;
}
footer a{
    color: #5b73eb;
    text-decoration: none;
}
footer a:hover{
    color: #ec4550;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: underline;
}
footer .social img{
    padding-top: 15px;
}      
.home-title{
    color: #ec4550;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
h2{
    color: #ec4550;
    margin: 0;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.rivers-card, .camping-card, .rapids-card{
    margin: 200px 0;
}
.card-img{
    border: 10px solid #d9c2a3;
}
main section img{
    box-sizing: border-box;
}