#content{
    max-width: 1600px;
    margin: 0 auto;
}
nav a{
    text-align: center;
    color: #5bc3eb;
}
#hero-msg h1, #hero-msg h2{
    text-align: center;
}
.button-box{
    text-align: center;
}
main section{
    text-align: center;
}
#background{
    height: 725px;
    background-color: #cebebe;
}
body{
    background-color: #fcfcfc;
}
header{
    background-color: #535353;
}
nav a:hover{
    background-color: #5bc3eb;
    color: #cebebe;
}
.book, .join{
    background-color: #fcfcfc;
    color: #ec4550;
}
.book:hover, .join:hover{
    background-color: #5bc3eb;
    color: #cebebe;
}
.msg{
    background-color: #ec4550;
}
.msg h2{
    color: #fcfcfc;
}
.msg p{
    color: #fcfcfc;
}
footer{
    background-color: #cebebe;
}
footer a{
    color: #5bc3eb;
}
footer a:hover{
    color: #ec4550;
}
.home-title{
    color: #ec4550;
}
h2{
    color: #ec4550;
}