h1{
    text-align: center;
    font-size: 4em;
    color: crimson;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: aliceblue;
    height: 10px;
    padding: 100px 0px;
    border-radius: 60px;
}
h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: crimson;
}
li {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: blueviolet;
    font-size: 1.4em;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 20px 100px;
    height: 120px;
    position: fixed;
    top: 0;
    width: 100%;
    box-sizing: border-box;
}
nav :hover{
    color: magenta;
    transition: 500ms;
}
body{
    background-color: pink;
}
p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: lightcoral;
}
footer{
    background-color: #333;
    padding: 10px;
    color: blueviolet;
    font-size: 1.2em;
    border-radius: 6px;
    font-family: Arial, Helvetica, sans-serif;
}