body{
    margin: 0px;
    font-size: 24px;
    background-color: #3a9bd5;
}
header, footer {
    background-color: #3a9bd5;
}
nav {
    text-align: center;
}
nav a {
    padding: 30px;
    color: black;
}
nav a:hover {
    color: greenyellow;
    text-decoration: none;
}
#content {
    max-width: 900px;
    background-color: white;
    margin: 40px auto;
    padding: 40px;
    border: 3px solid black;
}
img {
    width: 45%;
    text-align: center;
    margin: 50px auto;
    padding: 40px;
}
#title {
    text-align: center;
    font-size: 4em;
}
.shadow {
    background-color: lightgray;
}
p {
    padding: 30px;
}
footer {
    background-color: #3a9bd5;
}